<!DOCTYPE html>

<html>
	<head>
		<title>AutoCode</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/main.css">
		<script src="static/assets/js/javascript.js"></script>

</head>


	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<!-- Logo -->
					<br><br><br><br><br><br><br>
							<img src="/static/logo.png">
							<br><br><br><br>


				<!-- Nav -->
					<nav id="nav">
						<h3>Available Formats</h3>
						<ul>
							<li><a class="icon fa fa-file-pdf-o" style="font-size:25px;" href=""><span>PDF</span></a></li>
							<li><a class="icon fa fa-file-code-o" style="font-size:25px;" href=""><span>HTML</span></a>
							<ul>
								<li><a href="#">Full Report</a></li>
								<li><a href="#">Basic Report</a></li>
							</ul></li>
							<li><a class="icon fa fa-file-excel-o" style="font-size:25px;" href=""><span>LATEX</span></a>
							<ul>
								<li><a href="#">Full Article</a></li>
								<li><a href="#">Full Report</a></li>
								<li><a href="#">Basic Report</a></li>
							</ul></li>
							<li><a class="icon fa fa-file-code-o style=" style="font-size:25px;" href=""><span>Script</span></a></li>
							<li><a class="icon fa fa-file-powerpoint-o" style="font-size:25px;" href=""><span>Slides</span></a></li>
							<li><a class="icon fa fa-file-archive-o" style="font-size:25px;" href=""><span>Notebook</span></a></li>
						</ul>
					</nav>
					</div>
</div>

<br>
				  <center><h2>Enter Your Script Here</h2>

				  <!--Put the main code here-->
				    <h5>
				    <form action="." method="POST">
				    <div class="form-group">
				    <textarea type="text" name="TEXTAR" rows="8" cols="70">enter script here</textarea>
				    
				    <div class="form-group">
				    <br>
				      <h3><label for="formGroupExampleInput">Enter Filetype(pdf,html,slides,markdown,rst,script,notebook)</label></h3>
				      <input type="text" size="10" class="form-control" id="formGroupExampleInput" name="TEXTAR1" placeholder="pdf">
				    </div>

				    <br>
				    <br>
				    <input type="submit" name="my-form" value="AUTOCODE IT">
				    </div>
				    </form>
				    </center>
				    </h5>


				</div>

					<div id="copyright" class="container">
							&copy; AutoCode | All rights reserved
					</div>
					<br><br>
				</div>

		</div>
<script>
    window.onload = function() {
        CodeFlask.run('.code-editor', 'javascript')
    };
</script>

<script src="static/codeflask.js"></script>
<script src="static/vendor/prism.min.js"></script>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>